.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.4rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 2.4rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300)
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: .90rem;
  color: var(--gray-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  display: block;
  font-size: 1rem;
  color: var(--gray-400);
}

.componentForm {
  width: 100%;
  margin-top: 2.4rem;
  padding-top: 2.4rem;
  border-top: 1px solid var(--gray-600);
}

.componentForm strong {
  line-height: 1.6;
  color: var(--gray-100)
}

.componentForm textarea {
  margin-top: 1rem;
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  height: 12.8rem;
  padding: 1.6rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 2.2rem;
}

.componentForm footer {
  visibility: hidden;
  max-height: 0;
}

.componentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.componentForm button[type=submit] {
  padding: 1.6rem;
  margin-top: 1.0rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.componentForm button:hover {
  background-color: var(--green-300);
  transition: .2s;
}

.commentList {
  margin-top: 2rem;
}